

<%= render 'shared/navbar' %>

 <!-- <script >

$(document).ready(function(){
$('#navbar1').load('navbar.html #navbar');

});-->


<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80);">
  <div class="header">
    <h1> What are you looking for? </h1>
    <div class="banner-content text-center d-flex">
      <select id="location" class="form-control" type="text" placeholder="Where?">
        <option selected>Where?</option>
        <option>All</option>
        <option value="Ixelles">Ixelles</option>
        <option>Etterbeek</option>
        <option value="Brussels-centrum">Brussels-centrum</option>
        <option>WSP-WSL</option>
        <option>Flagey</option>

      </select>
      <select id="style" class="form-control" type="text" placeholder="style?" aria-label="Search">
        <option>style?</option>
        <option>All</option>
        <option>Italian</option>
        <option>French</option>
        <option>American</option>
        <option>Asian</option>
        <option>Belgian</option>
        <option>Brunch</option>
      </select>

    <a class="btn btn-flat  btn-info" onclick="querry()">Go</a>

  </div>
</div>
</div>
</div>


<div class="about">
  <div class="container">
    <div class="about_us">
      <h2>About us</h2>




      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem nunc, pharetra at tortor eget, tempor volutpat magna. Pellentesque ornare auctor arcu ut maximus. Maecenas tempor tortor ac velit efficitur, nec malesuada lorem placerat. Vivamus rhoncus molestie ipsum, hendrerit varius orci pulvinar quis. Suspendisse commodo volutpat purus. Donec maximus libero sapien, et cursus sem rutrum eget. Pellentesque at libero metus. Suspendisse interdum, metus ultrices dapibus viverra, diam nulla vehicula ante, et molestie lorem purus sed ligula. Mauris consequat ultrices consequat.

Duis sagittis faucibus nibh nec facilisis. Mauris maximus quis diam ac cursus. Nam ac egestas erat. Nullam ut nisi euismod neque molestie congue sed vitae purus. Pellentesque posuere accumsan justo. Integer vel aliquet ex. Ut ultricies aliquet gravida. Cras sagittis est sed sapien facilisis suscipit. Vivamus auctor ex eget vulputate faucibus. Donec congue convallis facilisis.Eloïse & Valentine </p>
    </div>
  </div>
</div>


<div class="contact">
  <div class="container">
    <h1 class="about_us"> contact us</h1>
    <div class="row">
      <div class="column">
        <div class="card_info"><h5>Collaborations?</h5>
          <p> Le Lorem Ipsum es la composition et la mise en page avant impression. opularisé dans les années 1960 grâce à la vente de
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card_info"><h5>Need advice?</h5>
          <p> Are you un brussels for the weekend ?
        Are you planning a special event with your friends or familY?
      We can suggest you some places!!</p>
    </div>
  </div>
  <div class="column">
    <div class="card_info"><h5>Info's</h5>
      <div class="droite">
        <i class="fab fa-instagram"> @bruxellesfood</i><br>
        <i class="far fa-envelope"> bruxellesfood@gmail.com</i><br>
        <i class="fas fa-mobile-alt"> OO32471332535</i><br>

      </div>
    </div>
  </div>
  </div>
</div>
</div>
<br>
<br>

<!--Carousel Wrapper-->

<section id="carousel">
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

  <!--Controls-->

  <!--/.Controls-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active" style="display: flex;">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="#"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="#"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="#"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="#"
            alt="Card image cap">
        </div>
      </div>

    </div>
    <!--/.First slide-->


  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

</div>
</section>

<%= render 'shared/footer' %>

<script>
  function querry() {
    var loc = document.getElementById('location')
    var localisation = loc.options[loc.selectedIndex].value
    var st = document.getElementById('style')
    var style = st.options[st.selectedIndex].value
    $.ajax({
      type:"get",
      url:`http://elo29597:elo29597@127.0.0.1:5984/restaurants/_design/test/_view/new-view?key=["${localisation}","${style}"]`,
      success: function(body) {
        body.rows.forEach(row => console.log(row.value))

      },
      error: function(err) {console.log(err)}
    })
    /*db.view('test', 'new-view', {'key':'Cocina'}, function(err, body) {
      if (!err) console.log(body)
    });*/
  }
</script>
</body>




